{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h1>Asociar Veterinario a mascota</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <form class="vstack gap-3 {% if errors %}was-validated{% endif %}"
                aria-label="Formulario de asociación de veterinario a mascota"
                method="POST"
                action="{% url 'add_appointment_to_pet' pet.id %}"
                novalidate>

                {% csrf_token %}

                <input type="hidden" value="{{ pet.id }}" name="pet_id" />

                <div>
                    <label for="vet" class="form-label">Veterinario</label>
                    <select id="vet_id" name="vet_id" class="form-select" required>
                        <option value="" selected disabled>Seleccionar Veterinario</option>
                        {% for vet in vets %}
                            <option value="{{ vet.id }}">{{ vet.name }}</option>
                        {% endfor %}
                    </select>

                    {% if errors.vet_id %}
                        <div class="invalid-feedback">
                            {{ errors.vet_id }}
                        </div>
                    {% endif %}
                </div>
                <div>
                    <label for="date" class="form-label">Fecha de cita</label>
                    <input type="date"
                        id="date"
                        name="date"
                        class="form-control"
                        value="{{ date }}"
                        required/>
                        
                        {% if errors.date %}
                            <div class="error">{{ errors.date }}</div>
                        {% endif %}
                </div>

                <button class="btn btn-primary">Asociar Veterinario</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
