{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1 class="mb-4">Veterinarios asociados a {{ mascota.name }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for veterinario in veterinarios %}
            <tr>
                <td>{{ veterinario.name }}</td>
                <td>{{ veterinario.email }}</td>
                <td>{{ veterinario.phone }}</td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="4"  >No existen veterinarios asociados a esta mascota</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'client_pets' client_id=mascota.client.id %}" class="btn btn-secondary">Volver a la vista de mascotas del cliente</a>
</div>
{% endblock %}
