{% extends 'base.html' %}

{% block main %}
<div class="container mt-5">
    <h2 class="mb-4">Asociar medicamentos para {{ pet.name }}</h2>
    <form method="post" class="w-50">
        {% csrf_token %}
        <div class="mb-3">
            <label for="medicine_id" class="form-label">Seleccione un medicamento:</label>
            <select name="medicine_id" id="medicine_id" class="form-select">
                {% for medicine in medicines %}
                <option value="{{ medicine.id }}">{{ medicine.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="administration_date" class="form-label">Fecha de administración</label>
            <input type="date"
                id="administration_date"
                name="administration_date"
                class="form-control"
                value="{{ pet.administration_date }}"
                required/>
                
                {% if errors.administration_date %}
                    <div class="error">{{ errors.administration_date }}</div>
                {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'pet_medicine_history' pet.id %}" class="btn btn-secondary">Cancelar</a>
    </form>
    {% if error %}
    <div class="alert alert-danger mt-3" role="alert">
        {{ error }}
    </div>
    {% endif %}
</div>
{% endblock %}
