{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h2 class="mb-3">Historial de Medicamentos para {{ pet.name }}</h2>
    <div class="mb-4">
        <a href="{% url 'add_medicine_to_pet' pet.id %}" class="btn btn-primary">
            <i class="bi bi-plus"></i> Asociar Medicamento
        </a>
    </div>
    <table class="table">
        <thead >
            <tr>
                <th>Medicamento</th>
                <th>Fecha de Administración</th>
                <th  >Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in medications %}
            <tr>
                <td>{{ entry.medicine.name }}</td>
                <td>{{ entry.administration_date }}</td>
                <td  >
                    <div class="btn-group" role="group" aria-label="Acciones de Medicamento">
                        <a href="{% url 'edit_medicine_for_pet' pet_id=pet.id med_id=entry.id %}" class="btn btn-outline-primary me-2">
                           Editar
                        </a>
                        <form action="{% url 'delete_medicine_for_pet' pet.id entry.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger  ">Eliminar</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3"  >No se encontraron medicamentos.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'client_pets' client_id=pet.client.id %}" class="btn btn-secondary">Volver a la vista de mascotas del cliente</a>
</div>
{% endblock %}
