{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1 class="mb-4">Compras del Cliente: {{ client.name }}</h1>

    <div class="mb-4">
        <a href="{% url 'add_purchase' client_id=client.id %}" class="btn btn-primary">
            <i class="bi bi-plus"></i> Añadir Compra
        </a>
    </div>

    {% if purchases %}
    <table class="table ">
        <thead >
            <tr>
                <th>Nombre del Producto</th>
                <th>Tipo</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.product.name }}</td>
                <td>{{ purchase.product.type }}</td>
                <td>${{ purchase.product.price }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'clients_repo' %}" class="btn btn-secondary">Volver a la vista Clientes</a>
    {% else %}
    <div class="alert alert-warning" role="alert">
        No se encontraron compras para este cliente.
    </div>
    {% endif %}
    <a href="{% url 'clients_repo' %}" class="btn btn-secondary">Volver a la vista Clientes</a>
</div>
{% endblock %}
