{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1>Editar Compra</h1>
    <form method="post">
        {% csrf_token %}
        <select name="product_id">
            {% for product in products %}
            <option value="{{ product.id }}" {% if product.id == purchase.product.id %}selected{% endif %}>{{ product.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Actualizar Compra</button>
    </form>
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
</div>
{% endblock %}
