{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1 class="mb-4">Clientes</h1>

    <div class="mb-2">
        <a href="{% url 'clients_form' %}" class="btn btn-primary">
            <i class="bi bi-plus"></i> Nuevo Cliente
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Nombre</th>
                <th class="text-center">Teléfono</th>
                <th class="text-center">Email</th>
                <th class="text-center">Dirección</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for client in clients %}
            <tr>
                    <td class="text-center">{{client.name}}</td>
                    <td class="text-center">{{client.phone}}</td>
                    <td class="text-center">{{client.email}}</td>
                    <td class="text-center">{{client.address}}</td>
                    <td class="text-center">
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-outline-primary me-2"
                               href="{% url 'clients_edit' id=client.id %}"
                            >Editar</a>

                            <a class="btn btn-outline-info me-2"
                               href="{% url 'client_purchases' client_id=client.id %}"
                            >Ver sus compras</a>

                            <form method="POST"
                                action="{% url 'clients_delete' %}"
                                aria-label="Formulario de eliminación de cliente"
                                class="d-inline">
                                {% csrf_token %}

                                <input type="hidden" name="client_id" value="{{ client.id }}" />
                                <button class="btn btn-outline-danger">Eliminar</button>
                            </form>
                        </div>
                    </td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">
                        No existen clientes
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'home' %}" class="btn btn-secondary">Volver al home</a>
</div>
{% endblock %}
