{% extends "base.html" %}

{% block main %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Menú Veterinaria</h1>
    <div class="row g-4">
        <!-- Clientes -->
        <div class="col-md-4">
            <a href="{% url 'clients_repo' %}" class="text-decoration-none" data-testid="home-Clientes">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            <i class="bi bi-people" style="color: #007bff;"></i> Clientes
                        </h4>
                    </div>
                    <div class="card-footer bg-transparent">
                        <small class="text-muted">Administra clientes y vea sus compras </small>
                    </div>
                </div>
            </a>
        </div>
        <!-- Mascotas -->
        <div class="col-md-4">
            <a href="{% url 'pets_repo' %}" class="text-decoration-none" data-testid="home-Mascotas">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            <i class="bi bi-emoji-heart-eyes" style="color: #dc3545;"></i> Mascotas
                        </h4>
                    </div>
                    <div class="card-footer bg-transparent">
                        <small class="text-muted">Administra las mascotas y vea sus detalles</small>
                    </div>
                </div>
            </a>
        </div>
        <!-- Productos -->
        <div class="col-md-4">
            <a href="{% url 'products_repo' %}" class="text-decoration-none" data-testid="home-Productos">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            <i class="bi bi-box" style="color: #28a745;"></i> Productos
                        </h4>
                    </div>
                    <div class="card-footer bg-transparent">
                        <small class="text-muted">Controla el inventario de productos</small>
                    </div>
                </div>
            </a>
        </div>
        <!-- Veterinarios -->
        <div class="col-md-4">
            <a href="{% url 'vets_repo' %}" class="text-decoration-none" data-testid="home-Veterinarios">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            <i class="bi bi-person-badge" style="color: #17a2b8;"></i> Veterinarios
                        </h4>
                    </div>
                    <div class="card-footer bg-transparent">
                        <small class="text-muted">Gestiona los datos de los veterinarios</small>
                    </div>
                </div>
            </a>
        </div>
        <!-- Medicamentos -->
        <div class="col-md-4">
            <a href="{% url 'medicines_repo' %}" class="text-decoration-none" data-testid="home-Medicamentos">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            <i class="bi bi-droplet-half" style="color: #6c757d;"></i> Medicamentos
                        </h4>
                    </div>
                    <div class="card-footer bg-transparent">
                        <small class="text-muted">Administra medicamentos</small>
                    </div>
                </div>
            </a>
        </div>
        <!-- Proveedores -->
        <div class="col-md-4">
            <a href="{% url 'providers_repo' %}" class="text-decoration-none" data-testid="home-Proveedores">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            <i class="bi bi-truck" style="color: #ffc107;"></i> Proveedores
                        </h4>
                    </div>
                    <div class="card-footer bg-transparent">
                        <small class="text-muted">Administra tus proveedores y vea sus productos</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
